{% extends 'base.html.twig' %}

{% block title %}Hello InloggenController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>
<div class="grid-x">
    <div class="cell medium-8 vacature">
    <p>LOGIN</p>
    	<form role="form">
					<div class="form-group" >
						<label>
							<p class="">email</p>
						</label>
						<input type="email" class="line">
					</div>

					<div class="form-group" style="">
						<label>
							<p class="">wachtwoord</p>
						</label>
						<input type="password" class="line">
					</div>
				
				</form>
			</div>
    </div>
</div>

{% endblock %}
