{% extends 'base.html.twig' %}

{% block title %}Hello WerkgeverController!{% endblock %}

{% block body %}

<div class="grid-x">
    <div class="cell small-8" style=" margin-top: 100px; margin-left: 150px;">
            <h2 class="mijn-sol">MIJN VACATURES</h2>
    </div>
</div>

<div class="grid-x sollicitatie-info " style="">
	<div class="cell small-2" style ="">DATUM</div>
	<div class="cell small-4">VACATURE</div>
    	<div class="cell small-3">SOLLICITANTEN</div>
	<div class="cell small-3">CV</div>
	</div>



<div class="grid-x sollicitatie-gegevens" style="padding-bottom: 750px;">
	{% for vacature in vacatures %}

	<div class="cell small-2" style ="color:grey">{{vacature.datum.format('d/m/Y')}}</div>
		    <div class="cell small-4"><a style="color:#F15A24; " href="{{ path('vacature' , { 'id' : vacature.id }) }}">
			{{vacature.titel}}</a></div>

                	
  	<div class="cell small-3"  ><i class="fas fa-check" style="color:#F15A24; font-size:30px; margin-left: 50px;"></i></div>
	<div class="werk-line"></div>

    {% endfor %}
</div>
    
	<div class="grid-x" style=" margin-left: 150px;">
	<div class="cell small-10" style ="">
		<a href="{{ path('nieuweVacature'  )}}">
			<i class="fas fa-arrow-right vac-arrow" style ="padding-bottom: 50px;" ></i><button type="submit"  class="btn knop" style="margin-top: 10px;">NIEUWE VACATURE MAKEN</button>
		</a>
	</div>
	</div>

{% endblock %}
