{% extends 'base.html.twig' %}

{% block title %}Vacature Maken{% endblock %}

{% block body %}

<div class="grid-x">
    <div class="cell small-8" style=" margin-top: 100px; margin-left: 150px;">
            <h2 class="mijn-sol">NIEUWE VACATURE</h2>
    </div>
</div>

<div class="grid-x" style="margin-left: 243px; padding-bottom: 20px;">
		<div class="cell small-3 " style="margin-top:11px;">
			<form role="form" action="{{ path('vacatureOpslaan')  }}" method="POST">
				     <input id="werkgever_id" name="werkgever_id" type="hidden" value="{{ app.user.id }}" class="form-control">    

				<div class="form-group">
					<label for="systeem">
						<p class="">systeem</p>
					</label>
					<select  type="systeem" name="systeem" id="systeem" class="line2">
							{% for systeem in system %}
  						  <option  value="{{ systeem.id }}">{{systeem.naam}}</option>					  
						   	{% endfor %}
					</select>
			    </div>

		</div>
        	<div class="cell small-8 form-group"  >
					<label for="niveau">
						<p class="">niveau</p>
					</label>
					<input type="niveau" name="niveau" id="niveau"class="line">
				</div>
			</div>
       <div class="grid-x" style="margin-left: 243px; padding-bottom: 20px;">

				<div class="cell small-11 form-group">
					<label for="titel">
						<p class="">titel</p>
					</label>
					<input type="" name="titel" id="titel"class="line3">
				</div>
			</div>
			
	</div>


		<div class="grid-x" style="margin-left: 243px; margin-bottom: -80px;" >

            	<div class="cell small-11 form-group" style="padding-bottom: 50px;">
					<label for="omschrijving">
						<p class="">omschrijving</p>
					</label>
					<textarea type="omschrijving" id="omschrijving" name="omschrijving"class="line4"></textarea>
				</div>
		</div>


<div class="grid-x" style="padding-bottom: 100px;">
		<div class="cell small-8 " style="margin-left: 240px; color: grey; font-size: 20px;  font-style: italic;">
			</div>
		</div class="cell small-4">
                <i class="fas fa-arrow-right vac-arrow" style ="padding-bottom: 50px; margin-left: 600px;" ></i><button type="submit" id="submit" class="btn knop" style="margin-top: 10px;">OPSLAAN</button>
		</div>
			</form>
		</div>


{% endblock %}
