{% extends 'base.html.twig' %}

{% block title %}Hello ProfielController!{% endblock %}

{% block body %}

<div class="grid-x">
    <div class="cell medium-12" style=" margin-top: 100px; margin-left: 150px;">
            <h2 class="mijn-sol">MIJN SOLLICITATIES</h2>
    </div>
</div>

<div class="grid-x sollicitatie-info " style="">
	<div class="cell small-2" style ="">DATUM</div>
	<div class="cell small-4">VACATURE</div>
    	<div class="cell small-3">BEDRIJF</div>
	<div class="cell small-3">UITGENODIGD</div>
	</div>
</div>

<div class="grid-x sollicitatie-gegevens" style="padding-bottom: 750px;">
	
	{% for sollicitatie in sollicitaties %}
	<div class="cell small-2" style ="color:grey">{{sollicitatie.datum.format('d/m/Y')}}</div>
		    <div class="cell small-4" >	  <a style="color:#F15A24;" href="{{ path('vacature' , { 'id' : sollicitatie.vacature.id }) }}">
{{sollicitatie.vacature.titel}}</a></div>
	<div class="cell small-3" style="color:grey">{{sollicitatie.vacature.werkgever.voornaam}}</div>
		{% if sollicitatie.uitgenodigd == "Y" %}

  	<div class="cell small-3"  ><i class="fas fa-check" style="color:#F15A24; font-size:30px; margin-left: 50px;"></i></div>
	  {% endif %}
	<div class="werk-line"></div>
	{% endfor %}
	</div>
</div>
    


{% endblock %}
